/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1 {
    font-family: 'Noto Sans Georgian', sans-serif;
}
/* Variables */
:root {
    --color-green: #01996D;
    --color-green-20: #01996e43;
    --color-darck: #292929;
}
/* Overall Width */
.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
header {
    height: 85px;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    height: 51px;
}
.header__nav img {
    width: 80px;
    height: 23px;
}
.header__nav-nav {
    width: 557px;
    display: flex;
    justify-content: space-between;
}
.header__nav-a {
    color: var(--color-darck);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}
.header__nav-nav :hover {
    color: var(--color-green);  
}
.header__nav-reg {
    width: 225px;
    display: flex;
    justify-content: space-between;
}
.header__nav-ar {
    padding: 10px 20px;
    color: var(--color-darck);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}
.header__nav-reg :hover {
    background-color: var(--color-green);    
    border-radius: 5%;
    color: #fff;
}
@media screen and (max-width: 1420px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 950px) {
    .header__nav-nav {
        display: none;
    }
}
/* about */
.about {
    background-image: url(../img/about_bg.png);
    min-height: 895px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 85px;
}
.about__text {
    max-width: 440px;
    width: 100%;
}
.about__text-h1 {
    color: var(--color-green);
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    padding-top: 175px;
}
.about__text-h3 {
    color: #484848;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    padding-top: 30px;
}
.about__text-button {
    width: 225px;
    height: 65px;
    border-radius: 5%;
    color: #fff;
    background-color: var(--color-green);
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}
@media screen and (max-width: 1420px) {
    .about {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 730px) {
    .about__text-h1 { 
        padding-top: 100px;
    }
}
/* hiw */
.hiw__h3 {
    color: #424242;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    margin-top: 110px;
}
.hiw__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.hiw__flex-h1 {
    color: var(--color-green);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    max-width: 584px;
    width: 100%;
}
.hiw__flex-p {
    color: #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    max-width: 671px;
    width: 100%;
}
.hiw__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
    margin-top: 165px;
}
.hiw__grid-item-numb {
    color: var(--color-green-20);
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    margin-left: 10px;
}
.hiw__grid-item-h3-1, .hiw__grid-item-h3-2, .hiw__grid-item-h3-3 {
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    position: absolute;
    top: 1608px;
    padding-left: 80px;
}
.hiw__grid-item-h3-2 {
    top: 1895px;
}
.hiw__grid-item-h3-3 {
    top: 1662px;
}
.hiw__grid-item-1, .hiw__grid-item-2, .hiw__grid-item-3 {
    width: 390px;
}
.hiw__grid-item-2 {
    margin-top: 287px;
}
.hiw__grid-item-3 {
    margin-top: 54px;
}
.hiw__grid-item-p {
    color: #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-top: 30px;
}
.hiw__grid-item-img {
    margin-top: 37px;
    border-radius: 5%;
}
@media screen and (max-width:1580px) {
    .hiw__grid {
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
    }
    .hiw__grid-item-h3-3 {
    top: 2861px;
    }
    .hiw__grid-item-3 {
    margin-top: 0;
}
}
@media screen and (max-width:1409px) {
    .hiw {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hiw__flex {
        display: contents;
    }
    .hiw__flex-p {
        margin-top: 40px;
    }
    .hiw__grid {
        margin-top: 80px;
    }
    .hiw__grid-item-h3-1 {
        top: 1638px;
    }
    .hiw__grid-item-h3-2 {
        top: 1925px;
    }
    .hiw__grid-item-h3-3 {
        top: 2995px;
    }
}
@media screen and (max-width:1000px) {
    .hiw__grid {
        grid-template-columns: repeat(1, 3fr);
    }
    .hiw__grid-item-1, .hiw__grid-item-2, .hiw__grid-item-3, .hiw__grid-item-img {
        width: 370px;
    }
    .hiw__grid-item-1, .hiw__grid-item-2, .hiw__grid-item-3 {
        margin-top: 0;
    }
    .hiw__grid-item-h3-2 {
        top: 2642px;
    }
    .hiw__grid-item-h3-3 {
        top: 3591px;
    }
}
@media screen and (max-width:688px) {
    .hiw__grid-item-h3-1 {
        top: 1663px;
    }
    .hiw__grid-item-h3-2 {
        top: 2667px;
    }
    .hiw__grid-item-h3-3 {
        top: 3616px;
    }
}
@media screen and (max-width:571px) {
    .hiw__grid-item-h3-1 {
        top: 1742px;
    }
    .hiw__grid-item-h3-2 {
        top: 2746px;
    }
    .hiw__grid-item-h3-3 {
        top: 3695px;
    }
}
@media screen and (max-width:530px) {
    .hiw__grid-item-h3-1 {
        top: 1773px;
    }
    .hiw__grid-item-h3-2 {
        top: 2777px;
    }
    .hiw__grid-item-h3-3 {
        top: 3726px;
    }
}
@media screen and (max-width:449px) {
    .hiw__grid-item-h3-1 {
        top: 1802px;
    }
    .hiw__grid-item-h3-2 {
        top: 2807px;
    }
    .hiw__grid-item-h3-3 {
        top: 3756px;
    }
}
@media screen and (max-width:416px) {
    .hiw__grid-item-h3-1 {
        top: 1882px;
    }
    .hiw__grid-item-h3-2 {
        top: 2887px;
    }
    .hiw__grid-item-h3-3 {
        top: 3836px;
    }
}